<div class="col-xs-12" ng-controller="home as h">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<form ng-submit="h.submit()" class="form-horizontal form_login" role="form" ng-if="!h.logeado">
		
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<label for="user">Usuario</label>
						<input type="text" name="user" id="user" ng-model="h.user" class="form-control" placeholder="Nombre de usuario" required>
					</div>
					<div class="col-sm-8 col-sm-offset-2">
						<label for="pass">Contraseña</label>
						<input type="password" id="pass" name="pass" ng-model="h.pass" class="form-control" required>
					</div>
				</div>
		
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
						<button type="submit" class="btn btn-primary">Iniciar Sesion</button>
					</div>
					<div class="col-sm-4 col-sm-offset-2">
						<button class="btn btn-success">Registrarse</button>
					</div>
				</div>
		</form>
	</div>
	<div class="col-xs-2"></div>
</div>